Variable names are case sensitive like in the below example name and Name are different variables

In [8]:
name = "Prajwal"
Name = "Kumbar"

print(name)
print(Name)

Prajwal
Kumbar

In [10]:
sum = 1 + 2 + 3 + 4 + 5+\
    6 + 7 + 8 + 9

print(sum)

45

## Indentation 

Indentation in Python is used to define the structure and hierarchy of the code. Unlike many other programming languages that use braces `{}` to delimit blocks of code, Python uses indentation to determine the grouping of statements. This means that all the statements within a block must be indented at the same level.

In [11]:
if sum > 40:
    print("Sum is greater than 40")
print("sum is", sum)

Sum is greater than 40
sum is 45

In [12]:
age = 22
name = "Prajwal"

In [14]:
type(age)

int

type() function is used to get the type of the variable

In [15]:
type(name)

str

Python is a dynamically typed language, so we don't have to specify the type of the variable while declaring it like in C or Java

```Now what is ment by dynamically typed language is that the type of the variable is determined at runtime```

In [16]:
print(type(age))
print(type(name))

<class 'int'>
<class 'str'>

In [18]:
a = 10
b = 20
c = a
#d = e

f = a + b + c

print(f)

40

Let check indentation in the below example

In [25]:
if True:
    print("The indentation is correct")
    if False:
        print("The indentation is not correct") # This will not print because its inside the inner if block
    print("This will print because its out of the inner 2nd if block")
print("This will print because its out of the 1st if block")

The indentation is correct
This will print because its out of the inner 2nd if block
This will print because its out of the 1st if block

In [26]:
age=22
print(type(age))

age_str=str(age)
print(age_str)
print(type(age_str))

<class 'int'>
22
<class 'str'>

In [30]:
print(type(int(age)))
print(int(age))
print(type(float(age)))
print(float(age))
print(type(str(age)))
print(str(age))

<class 'int'>
22
<class 'float'>
22.0
<class 'str'>
22

In [31]:
hight = 5.10

print(type(hight))

<class 'float'>

In [33]:
float(int(hight))

5.0

In [38]:
Day = 1
print(Day,type(Day))

Topic = "Basic Python"
print(Topic,type(Topic))

Hours = 2.00
print(Hours,type(Hours))

1 <class 'int'>
Basic Python <class 'str'>
2.0 <class 'float'>

In [41]:
## input
Name = input("What is your name")
print(Name,type(Name))
age=int(input("What is the age"))
print(age,type(age))
Place = input("Where are you from")
print(Place,type(Place))
hight = float(input("What is your hight"))
print(hight,type(hight))
gender = input("Are you a boy")
gender = True if gender.lower() == 'true' else False
print(gender, type(gender))

Prajwal <class 'str'>
22 <class 'int'>
Banglore <class 'str'>
5.1 <class 'float'>
True <class 'bool'>

In [50]:
num1 = float(input("Enter first number: "))
num2 = int(input("Enter second number: "))

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("Sum:", sum, type(sum))
print("Difference:", difference, type(difference))
print("Product:", product, type(product))
print("Quotient:", quotient, type(quotient))

Sum: 12.5 <class 'float'>
Difference: 8.5 <class 'float'>
Product: 21.0 <class 'float'>
Quotient: 5.25 <class 'float'>

# Introduction to Operators

- Arithmetic Operators
1. Addition
2. Subtraction
3. Multiplication
4. Division
5. Floor Division
6. Modulus
7. Exponentiation

- Comparison Operators
1. Equal to
2. Not equal to
3. Greater than
4. Less than
5. Greater than or equal to
6. Less than or equal to

- Logical Operators
1. AND
2. OR
3. NOT

In [51]:
## Arithmethic Operation

a = 10
b = 5

add = a + b  
sub = a - b  
mult = a * b 
div = a / b
floor_div = a // b 
modulus = a % b

exponent = a ** b


print(add)
print(sub)
print(mult)
print(div)
print(floor_div)
print(modulus)
print(exponent)

15
5
50
2.0
2
0
100000

In [52]:
10/5

2.0

In [53]:
21/5

4.2

In [54]:
21//5

4

In [55]:
## Comparison Operators
a=10
b=10

a==b

True

In [56]:
Name1="Prajwal"
Name2="prajwal"

Name1==Name2

False

In [57]:
Name1!=Name2

True

In [59]:
# greater than >

Age1=22
Age2=55

Age1>Age2

False

In [60]:
print(Age1<Age2)

True

In [63]:
#greater than or equal to
number1=10
number2=10

print(number1>=number2)

True

In [66]:
#less than or equal to
number1=4
number2=5

print(number1<=number2)

True

## Logical Operators

In [70]:
# and
X=False
Y=False

result =X and Y
print(result)

False

In [69]:
# and
X=False
Y=True

result =X and Y
print(result)

False

In [68]:
# and
X=True
Y=True

result =X and Y
print(result)

True

In [71]:
## OR
X=False
Y=False

result =X or Y
print(result)

False

In [72]:
## OR
X=True
Y=False

result =X or Y
print(result)

True

In [73]:
## OR
X=True
Y=True

result =X or Y
print(result)

True

In [74]:
# Not
X=False
not X

True

In [75]:
# Not
X=True
not X

False

In [76]:
# Getting user input
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

# Performing arithmetic operations
addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2 if num2 != 0 else "undefined"
floor_division = num1 // num2 if num2 != 0 else "undefined"
modulus = num1 % num2 if num2 != 0 else "undefined"
exponentiation = num1 ** num2

# Performing comparison operations
equal_to = num1 == num2
not_equal_to = num1 != num2
greater_than = num1 > num2
less_than = num1 < num2
greater_than_or_equal_to = num1 >= num2
less_than_or_equal_to = num1 <= num2

# Performing logical operations
both_positive = num1 > 0 and num2 > 0
at_least_one_positive = num1 > 0 or num2 > 0
first_not_zero = not (num1 == 0)

# Displaying results
print("Arithmetic Operations:")
print("Addition:", addition)
print("Subtraction:", subtraction)
print("Multiplication:", multiplication)
print("Division:", division)
print("Floor Division:", floor_division)
print("Modulus:", modulus)
print("Exponentiation:", exponentiation)

print("\nComparison Operations:")
print("Equal to:", equal_to)
print("Not equal to:", not_equal_to)
print("Greater than:", greater_than)
print("Less than:", less_than)
print("Greater than or equal to:", greater_than_or_equal_to)
print("Less than or equal to:", less_than_or_equal_to)

print("\nLogical Operations:")
print("Both numbers are positive:", both_positive)
print("At least one number is positive:", at_least_one_positive)
print("First number is not zero:", first_not_zero)

Arithmetic Operations:
Addition: 15.0
Subtraction: 5.0
Multiplication: 50.0
Division: 2.0
Floor Division: 2.0
Modulus: 0.0
Exponentiation: 100000.0

Comparison Operations:
Equal to: False
Not equal to: True
Greater than: True
Less than: False
Greater than or equal to: True
Less than or equal to: False

Logical Operations:
Both numbers are positive: True
At least one number is positive: True
First number is not zero: True

# Loops

Introduction to Loops

1. for Loop

- Iterating over a range
- Iterating over a string

2. while Loop

3. Loop Control Statements

- break
- continue
- pass
- Nested Loops

In [77]:
range(5)

range(0, 5)

In [78]:
## for loop

for i in range(5):
    print(i)

0
1
2
3
4

In [79]:
for i in range(0,6):
    print(i)

0
1
2
3
4
5

In [82]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [83]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [84]:
str="Prajwal Kumbar"

for i in str:
    print(i)

P
r
a
j
w
a
l

K
u
m
b
a
r

In [85]:
## while loop

## The while loop continues to execute as long as the condition is True.

count=0

while count<5:
    print(count)
    count=count+1

0
1
2
3
4

In [86]:
## Loop Control Statements

## break
## The break statement exits the loop permaturely

## break sstatement

for i in range(10):
    if i==2:
        break
    print(i)

0
1

In [87]:
## continue

## The continue statement skips the current iteration and continues with the next.

for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [88]:
## continue

## The continue statement skips the current iteration and continues with the next.

for i in range(10):
    if i%2==0:
        pass
    print(i)

0
1
2
3
4
5
6
7
8
9

In [89]:
## Nested loopss
## a loop inside a loop

for i in range(3):
    for j in range(2):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

In [90]:
## Examples- Calculate the sum of first N natural numbers using a while and for loop

## while loop  

n=10   
sum=0
count=1

while count<=n:
    sum=sum+count
    count=count+1

print("Sum of first 10 natural number:",sum)

Sum of first 10 natural number: 55

In [91]:
n=10   
sum=0
for i in range(11):
    sum=sum+i

print(sum)

55

In [92]:
## Example- Prime numbers between 1 and 100

for num in range(1,101):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Functions

In [1]:
## syntax
def function_name(parameters):
    """Docstring"""
    # Function body
    return expression

In [2]:
def calculate_area(radius):
    """
    Calculate the area of a circle given its radius.
    
    Parameters:
    radius (float): The radius of the circle
    
    Returns:
    float: The area of the circle
    """
    pi = 3.14159
    area = pi * radius ** 2
    return area

In [3]:
## why functions?
num=24
if num%2==0:
    print("the number is even")
else:
    print("the number is odd")

the number is even

In [12]:
def even_or_odd(number):
    if number % 2 == 0:
        return "Even"
    else:
        return "Odd"

In [5]:
## Call this function
even_or_odd(24)

the number is even

In [13]:
## function with multiple parameters

def add(a,b):
    return a+b

result=add(2,4)
print(result)

even_or_odd(add(2,4))

6

'Even'

In [14]:
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))

# Calculate the sum
result = add(a, b)

# Print the result
print("The sum is:", result)

print("The sum is", even_or_odd(result))

The sum is: 11
The sum is Odd

In [15]:
### Keywords Arguments

def print_details(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [16]:
print_details(name="Prajwal",age="22",country="India")

name:Prajwal
age:22
country:India

In [17]:
def print_details(*args,**kwargs):
    for val in args:
        print(f" Positional arument :{val}")
    
    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [18]:
print_details(1,2,3,4,"Prajwal",name="Prajwal",age="22",country="India")

 Positional arument :1
 Positional arument :2
 Positional arument :3
 Positional arument :4
 Positional arument :Prajwal
name:Prajwal
age:22
country:India

In [19]:
### Return statements
def multiply(a,b):
    return a*b

multiply(2,3)

6

In [20]:
def is_strong_password(password):
    """This function checks if the password is strong or not"""
    if len(password)<8:
        return False
    if not any(char.isdigit() for char in password):
        return False
    if not any(char.islower() for char in password):
        return False
    if not any(char.isupper() for char in password):
        return False
    if not any(char in '!@#$%^&*()_+' for char in password):
        return False
    return True

## calling the function
print(is_strong_password("WeakPwd"))
print(is_strong_password("Str0ngPwd!"))

False
True

In [21]:
import re

# Email validation function
def is_valid_email(email):
    """This function checks if the email is valid."""
    pattern = r'^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$'
    return re.match(pattern, email) is not None

# Calling the function
print(is_valid_email("test@example.com"))
print(is_valid_email("invalid-email"))

True
False

# Lambda

In [22]:
#Syntax
lambda arguments: expression

In [23]:
def add(a,b):
    return a+b

In [24]:
add(2,3)

5

In [25]:
addition=lambda a,b:a+b
type(addition)
print(addition(5,6))

11

In [26]:
Even=lambda num:num%2==0
Even(12)

True

In [29]:
numbers=[1,2,3,4,5,6]
def square(number):
    return number**2

square(2)

4

In [30]:
list(map(lambda x:x**2,numbers))

[1, 4, 9, 16, 25, 36]

In [31]:
def square(x):
    return x*x

square(10)

100

In [32]:
numbers=[1,2,3,4,5,6,7,8]

list(map(square,numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [33]:
## Lambda function with map
numbers=[1,2,3,4,5,6,7,8]
list(map(lambda x:x*x,numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [34]:
## map() to convert a list of strings to integers
# Use map to convert strings to integers
str_numbers = ['1', '2', '3', '4', '5']
int_numbers = list(map(int, str_numbers))

print(int_numbers)

[1, 2, 3, 4, 5]

In [36]:
words=['apple','banana','cherry']
upper_word=list(map(str.upper,words))
print(upper_word)

['APPLE', 'BANANA', 'CHERRY']

In [37]:
def even(num):
    if num%2==0:
        return True

In [74]:
lst=[1,2,3,4,5,6,7,8,9,10,11,12]

list(filter(even,lst))

[2, 4, 6, 8, 10, 12]

In [39]:
## filter with a Lambda Function
numbers=[1,2,3,4,5,6,7,8,9]
greater_than_five=list(filter(lambda x:x>5,numbers))
print(greater_than_five)

[6, 7, 8, 9]

In [40]:
## Filter with a lambda function and multiple conditions
numbers=[1,2,3,4,5,6,7,8,9]
even_and_greater_than_five=list(filter(lambda x:x>5 and x%2==0,numbers))
print(even_and_greater_than_five)

[6, 8]

In [63]:
import math
from math import sqrt,pi

In [43]:
math.sqrt(16)

4.0

In [45]:
print(pi)

3.141592653589793

In [68]:
!{sys.executable} -m pip install numpy

zsh:1: parse error near `-m'

In [69]:
import sys

In [70]:
import sys
!{sys.executable} -m pip install numpy
import numpy as np

DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Collecting numpy
  Downloading numpy-1.24.4-cp38-cp38-macosx_11_0_arm64.whl.metadata (5.6 kB)
Downloading numpy-1.24.4-cp38-cp38-macosx_11_0_arm64.whl (13.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.8/13.8 MB 3.8 MB/s eta 0:00:0000:0100:01
Installing collected packages: numpy
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Successfully installed numpy-1.24.4

In [72]:
import numpy as np
np.array([1,2,3,4])

array([1, 2, 3, 4])