In [1]:
import pandas as pd

import re
import nltk
from nltk.corpus import stopwords

In [3]:
messages = pd.read_csv('/Users/prajwal/Developer/Prep/NLP/sms_spam_collection/SMSSpamCollection', sep = '\t', names=["lable", "message"], encoding='latin-1')

In [4]:
messages

     lable                                            message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ã¼ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [9]:
messages['message'].loc[40]

'Pls go ahead with watts. I just wanted to be sure. Do have a great weekend. Abiola'